.gradient-text {
    background: linear-gradient(to right, #DD0000, #DD6666);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondary-gradient-text {
    background: linear-gradient(to right, #DD6666, #DDDDDD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


img{
    max-width: 50%;
    height: auto;
}

#productImage{
    max-width: 100%;
    height: auto;
}

.AboutUsHeader{
    color: #6f42c1;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
}

.sidebars{
    min-width: 100px;
    width: 15%;
}

#MeblexText{
    margin-top: 15%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}